body {
	background-color: #ffffff;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1em;
	font-family: 'Nunito', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
	color: #ffffff;
	text-align: center;
	background-color: #3e7cff;
	background-image: url('../img/wave-haikei.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; /* fix background gradient */
	min-height: 100%; /* fix sticky footer */
	height: auto;
}

.button{
	display: inline-block;
	width: auto;
	min-width: 25px;
	padding: 12px;
	background-color: white;
	font-weight: bold;
	color: #555;
	border: none;
	border-radius: 100px; /* --border-radius-pill */
	cursor: pointer;
}

p {
	 display: block;
	 margin-block-start: 1em;
	 margin-block-end: 1em;
	 margin-inline-start: 1em;
	 margin-inline-end: 0px;
}
